body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #0055ff;
  background-image: url("../img/nuevo-fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
}
header .header__inicio {
  display: flex;
  margin-right: 0.5rem;
}
header .header__inicio p {
  font-size: 1rem;
  font-weight: bold;
  color: #4c4c4c;
  margin-top: 1.5rem;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
header .logo .logo__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background-color: #8fcef8;
  border-radius: 50%;
  text-align: center;
}
header .logo .logo__text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4c4c4c;
}
header svg {
  width: 1.8rem;
  fill: #0400ff;
  margin: 0.8rem;
  cursor: pointer;
}
header svg:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

main {
  width: 100%;
}
main .main__ubicacion {
  display: flex;
}
main .main__ubicacion svg {
  width: 2rem;
  fill: #414141;
  margin-left: 45rem;
}
main .main__svg {
  display: flex;
  justify-content: center;
  transform: translateY(-25rem);
  margin-bottom: -35rem;
  gap: 5rem;
}
main .main__svg svg {
  width: 2rem;
  fill: #414141;
  cursor: pointer;
}
main .main__svg svg:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.main__menu, .main__menu2 {
  display: flex;
  flex-direction: row;
}
.main__menu div, .main__menu2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__menu div img, .main__menu2 div img {
  width: 17rem;
  margin: 2.6rem;
  border: 0.5rem solid #036494;
  border-radius: 1rem;
}
.main__menu div p, .main__menu2 div p {
  font-size: 1.2rem;
  font-weight: bold;
}
.main__menu div .main__new-york, .main__menu div .main__paris, .main__menu2 div .main__new-york, .main__menu2 div .main__paris {
  width: 38rem;
}
.main__menu div .main__soumaya, .main__menu2 div .main__soumaya {
  width: 20rem;
}
.main__menu div .main__frida, .main__menu div .main__jumex, .main__menu2 div .main__frida, .main__menu2 div .main__jumex {
  width: 22rem;
}
.main__menu div .main__chapultepec, .main__menu2 div .main__chapultepec {
  width: 25rem;
}

.main__edita {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 10rem;
  margin-left: 35rem;
  margin-bottom: 2rem;
}
.main__edita p {
  margin-bottom: 0.1rem;
}
.main__edita .main__input {
  margin-top: 0.1rem;
}
.main__edita button {
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0055ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.main__edita button:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#main__menu2 .imagenCarrusel {
  display: none;
}

#main__menu2 .imagenCarrusel:first-child {
  display: block;
}/*# sourceMappingURL=styles.css.map */